


.grid{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}

.grid div{
    width: 40px;
    height: 40px;
}

.green{
    background-color:green;
}

.apple{
    
    background-color: red;
}

.snake{
    background-color:black;
}